@font-face {
  font-family: 'GilroyRegular';
  src: url('../fonts/Gilroy-Regular.eot');
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyThin';
  src: url('../fonts/Gilroy-Thin.eot');
  src: url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Thin.woff') format('woff'),
    url('../fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyLight';
  src: url('../fonts/Gilroy-Light.eot');
  src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyHeavy';
  src: url('../fonts/Gilroy-Heavy.eot');
  src: url('../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Heavy.woff') format('woff'),
    url('../fonts/Gilroy-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyExtraBold';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyMedium';
  src: url('../fonts/Gilroy-Medium.eot');
  src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CormorantGaramond';
  src: url('../fonts/CormorantGaramond-Regular.eot');
  src: url('../fonts/CormorantGaramond-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CormorantGaramond-Regular.woff') format('woff'),
    url('../fonts/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@mixin reg {
  font-family: 'GilroyRegular', sans-serif;
}

@mixin thin {
  font-family: 'GilroyThin', sans-serif;
}

@mixin light {
  font-family: 'GilroyLight', sans-serif;
}

@mixin heavy {
  font-family: 'Gilroyheavy', sans-serif;
}

@mixin extrabold {
  font-family: 'GilroyExtraBold', sans-serif;
}

@mixin medium {
  font-family: 'GilroyMedium', sans-serif;
}

@mixin letter {
  font-family: 'CormorantGaramond', sans-serif;
}