@font-face {
  font-family: 'GilroyRegular';
  src: url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyThin';
  src: url('../fonts/Gilroy-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyLight';
  src: url('../fonts/Gilroy-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyBold';
  src: url('../Gilroy-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GilroyExtraBold';
  src: url('../Gilroy-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@mixin reg {
  font-family: 'GilroyRegular', sans-serif;
}

@mixin thin {
  font-family: 'GilroyThin', sans-serif;
}

@mixin light {
  font-family: 'GilroyLight', sans-serif;
}

@mixin bold {
  font-family: 'GilroyBold', sans-serif;
}

@mixin extrabold {
  font-family: 'GilroyExtraBold', sans-serif;
}